
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Button */

.button {
    display: inline-block;
    box-sizing: border-box;
    font-family: inherit;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.hotel-search-button {
    background-color: #756157;
    padding: 9px 15px 8px 15px;
    margin-left: 20px;
    width: 160px
}

.hotel-search-button:hover, .hotel-search-button:focus {
    background: #615048;
}

.main-search-button {
    font-size: 20px;
    line-height: 36px;
    padding: 12px 15px 12px 15px;
    margin-left: 0;
    margin-bottom: 93px;
    width: 574px;
}

.subscribe-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    padding: 12px 15px 12px 15px;
    border-radius: 0 10px 10px 0;
}

.subscribe-button:hover,  .subscribe-button:focus, .filter-button:hover, .filter-button:focus {
    background: #68A2CA;
}

.filter-button {
    display: block;
    background-color: #82B3D3;
    padding: 14px 15px 14px 15px;
    width: 160px;
}

.reset-button {
    display: block;
    font-weight: 400;
    text-transform: none;
    background-color: inherit;
    margin-bottom: 15px;
}

.reset-button:hover, .reset-button:active {
    opacity: 0.6;
}

.reset-button:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.button + .button {
    margin-top: 20px;
}

.product-card-button {
    background: #82B3D3;
    padding: 9px 15px 8px 15px;
}

.button-favorite-selected {
    background: #7DB54F;
}

/* Header */

.header-wrapper {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-bottom: -5px;
}

.logo-header {
    display: block;
    width: 139px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 500px;
    height: auto;
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: block;
    padding: 20px 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
    text-align: left;
}

.navigation-link-current {
    display: block;
    position: relative;
}

.navigation-link-current::before {
    position: absolute;
    content: "";
    background: #756257;
    left: 17px;
    right: 17px;
    bottom: 0;
    height: 2px;
}

.navigation-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 304px;
    margin-left: auto;
    padding-bottom: 4px;
}

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
    padding-left: 12px;
    padding-right: 12px;
}
.navigation-item-search {
    background-image: url("../images/header/navigation-search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-item-favorite {
    position: relative;
    background-image: url("../images/header/navigation-favorite.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.navigation-item-favorite .navigation-link::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 24px;
    background: #7DB54F;
    content: "12";
    color: #ffffff;
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1em;
    border-radius: 10px;


}




/* Main */

.main-wrapper {
    flex-grow: 1;
}

.main-index {
    text-align: center;
}

/* Hero */

.hero-welcome-image {
    position: relative;
    background-image: url("../images/welcome-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 51px 371px 78px;
}

.hero-welcome-image::after {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 57px;
    background: url(../images/welcome-divider.svg) 50% 100% no-repeat;
    content: "";

}

.hero-wecome-text {
    padding: 63px 200px 92px;
}

.hero-welcome-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 34px;
    padding: 0 90px;
}

.hero-welcome-description {
    font-size: 22px;
    margin: 0;
}

/* Advantages */

.advantages {
    margin-bottom: 91px;
}
.advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-town-wrapper {
    display: flex;
}

.advantages-item-town, .advantages-item-bridge, .item-space, .item-road, .item-tourists {
    width: 230px;
    padding: 92px 85px;
}

.advantages-item-title, .advanteges-details-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.item-title-town, .item-title-bridge {
    color: #FFFFFF;
}

.advantages-item-number {
    display: block;
    margin: 0;
    margin-bottom: 30px;
}

.advantages-description {
    display: block;
    margin: 0;
    width: 230px;
}

.advantages-item-img {
    object-fit: cover;
    object-position: 100% 0;
}

.advantages-item-bridge-wrapper {
    display: flex;
}

.advantages-item-town, .advantages-item-bridge {
    background-color: #82B3D3;
    color: #FFFFFF;
}

/* Advantages-details */

.advantages-details-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advanteges-details-item {
    width: 230px;
    padding: 80px 85px;
}

.advanteges-details-title {
    color: #000000;
    padding-top: 102px;
    background-repeat: no-repeat;
    background-size: 75px 72px;
    background-position: top center;
}

.icon-home, .icon-souvenirs, .item-space, .item-tourists{
    background: rgba(131, 179, 211, 0.12);
}

.title-home {
    background-image: url("../images/advantage/advantage-icon-hotels.svg");
}
.title-eat {
    background-image: url("../images/advantage/advantage-icon-food.svg");
}
.title-souvenirs {
    background-image: url("../images/advantage/advantage-icon-souvenirs.svg");
}

.item-road {
    background:rgba(131, 179, 211, 0.2);
}

.item-space, .item-road, .item-tourists {
    padding: 103px 85px 102px;
}

/* Search */

.hotel-search {
    padding: 0 304px;
}

.hotel-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.hotel-search-description {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 56px;
}

.subscribe {
    font-size: 22px;
    line-height: 26px;
}

/* Subscribe */

.subscribe-index {
    background-color: #82B3D3;
    background-image: url("../images/subscription-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 94px 200px;
}
.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 29px;
}

.subscribe-description {
    margin: 0 auto 46px;
    width: 475px;
}

.subscribe-form {
    display: grid;
    grid-template-columns: 600px 200px;
    margin-bottom: 0;
}

.subscribe-input-email {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#000000;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 22px;
    border-style: none;
    border-radius: 10px 0 0 10px;
    background: #F2F2F2;
    border: 3px solid transparent ;
}

.subscribe-input-email:hover {
    background: #E6E6E6;
}

.subscribe-input-email:focus{
    background: #E6E6E6;
    border: 3px solid #83B3D3;
}

.subscribe-input-email:active {
    background:#FFFFFF;
    border: 3px solid #000000;
}


/* Footer */

.footer-container{
    display:flex;
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto;
    padding: 41px 0 30px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    position: relative;
    width: 47px;
    height: 40px;
}

.footer-social-link {
    display: block;
    text-decoration: none;
}


.footer-social-vk, .footer-social-telegram, .footer-social-youtube {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.footer-social-link:hover path, .footer-social-link:focus path {
    fill: #68A2CA;
}

.footer-social-link:active path {
    fill: rgba(104, 162, 202, 0.3);
}

.phone {
    display: block;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 720px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.phone:hover, .phone:focus {
    color: #756157;
}

.phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.developer-link {
    display: block;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.developer-link:hover path, .developer-link:focus path {
    fill: #756157;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: 0, 0, 0, 0.25;
}

.modal {
    position: relative;
    margin: auto;
    padding: 62px 70px 70px;
    background-color: #ffffff;
    width: 715px;
  }

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    background: #F2F2F2;
    border: none;
    border-radius: 50%;
    background-image: url("../images/icon-cross-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}




/* Catalog */
.catalog-filter-section {
    background-image: url("../images/catalog/filter-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #82B3D3;
    height: 403px;
}

.filter-wrapper {
    width: 1059.53px;
    margin: auto;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 34px;
}


/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.breadcrumbs-link {
    position: relative;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.breadcrumbs-link-home {
    display: block;
    width: 13px;
    height: 13px;
}

.breadcrumbs-link-hotels {
    padding-left: 15px;
    background-image: url(../images/catalog/filter-icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 5px 8px;
    background-position: left center;
}

.breadcrumbs-icon-home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-bottom: 30px;
}

.catalog-filter {
    display: flex;
    margin-bottom: 70px;
}

.catalog-filter-list {
    margin: 0;
    padding: 0
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
  }

.filter-infrastructure {
    width: 150px;
    margin-right: 70px;
    padding: 0;
}

.filter-accommodation {
    width: 145px;
    padding: 0;
    margin-right: 175px
}

.catalog-filter-list {
    list-style: none;
}

.catalog-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* Control */
.control {
    position: relative;
    display: block;
    padding-left: 40px;
    padding-bottom: 15px;
}

  /* Mark */
  .control-mark {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background:#FFFFFF;

}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url(../images/catalog/icon-check-mark.svg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.control-mark-radio {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background:#FFFFFF;
}

.control:hover .control-mark {
    background:rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
    background:rgba(255, 255, 255, 0.6);
    border: 3px solid #83B3D3;
}
.control:active .control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.control:focus .control-mark-radio {
    border: 3px solid #83B3D3;
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3F5E72;
    content: "";
}

.range-wrapper-inputs {
    box-sizing: border-box;
    display: flex;
    width: 288px;
    height: 48px;
    margin-bottom: 32px;
    margin-top: 1px;
}
.range-input-container {
    width: 144px;
    position: relative;
}
.range-input-label {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #FFFFFF;
    opacity: 0.3;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    z-index: 1;
}

.range-input {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 19px;
    font: inherit;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    appearance: textfield;
    color: #FFFFFF;
 }
 .range-input-min {
    border: 2px solid #FFFFFF;
    border-radius: 4px 0 0 4px;
 }

 .range-input-max {
    border: 2px solid #FFFFFF;
    border-radius: 0 4px 4px 0;
    border-left: none;
 }

 .range-input-min:hover, .range-input-max:hover {
    border: 2px solid #FFFFFF;
    opacity: 0.6;
 }

 .range-input-min:focus, .range-input-max:focus {
    box-shadow: 0 0 0 3px #81B3D2;
 }

 .range-input-min:active, .range-input-max:active {
    background: #756257;
 }


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 8px;

    background: rgba(255,255,255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
    left: 0;
    width: 227px;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:active,.range-toggle:focus {
    border: 3px solid #83B3D3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.filter-button-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
}
/* Selection */

.catalog-selection {
    display: flex;
    align-items: center;
    margin: 54px 71px 56px 72px;
    width: 1057px;
    height: 49px;
}

.catalog-selection-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0%;
    margin-right: 191px;
    width: 338px;
}

.select-control {
    width: 290px;
    height: 49px;
    margin-right: 78px;
    padding: 11px 62px 14px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-image: url("../images/catalog/icon-select-mark.svg");
    background-repeat: no-repeat;
    background-position: right 19px center;
    appearance: none;
}

.view-wrapper {
    display: flex;
    width: 160px;
    margin-left: auto;
}

.view-link {
    position:relative;
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;
}

.view-current, .view-link:hover, .view-link:hover:active {
    border: 2px solid #000000;
}

.view-link:focus {
    border: 2px solid #68A2CA;
}


.view-link:nth-child(3n) {
    margin-right: 0;
}

.view-icon-table, .view-icon-slide, .view-icon-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* Product-list */

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    list-style: none;
    padding: 0;
    width: 1056px;
    margin: 0 71px 66px 73px;
    column-gap: 18px;
}

.product-card {
    display: grid;
    grid-template-rows: 211px min-content auto min-content min-content;
    grid-template-columns: 140px 140px;
    width: 300px;
    padding: 20px;
    column-gap: 20px;
    row-gap: 16px;
}

.product-card-image {
    width: 300px;
    object-fit: contain;
}

.product-card-link {
    grid-column: 1 / -1;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    grid-column: 1 / -1;
}

.product-card-price {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
}

.product-card-button-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #756157;
    color: #FFFFFF;
    text-align: center;
    padding: 9px 15px 8px 15px;
    border-radius: 4px;
}

.product-card-category {
    display: flex;
    padding-top: 10px;
}

.star {
    display: inline-block;
    width: 17px;
    height: 18px;
    margin-right: 7px;
    background: url(../images/catalog/catalog-icon-star.svg) 50% 0 no-repeat;
}


.product-card-rating-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
    text-align: center;
    padding: 9px 22px 8px 23px;
    border-radius: 4px;
}



/* Paginatiom */

.pagination-wrapper {
    display: flex;
    width: 1056px;
    margin: 0 auto 25px;
    padding-top: 30px;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
  }

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: #82B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    padding: 12px 0;
    border-radius: 4px;
}

.pagination-current {
    color: #000000;
    background: #F2F2F2;
}

.pagination-select-control {
    margin-right: 0;
    margin-left: 51px;
    width: 160px;
    padding-left: 15px;
}

/* Subscribe-inner */

.subscribe-inner {
    text-align: center;
    padding-top: 94px;
    margin: 0 200px 94px 200px;
}

.subscribe-title-inner {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 29px;
}
